@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
	font-family: "Lato", sans-serif;
	font-weight: 200;
	font-size: 18px;
}

.js-hide {
	display: none;
}

#filebox label {
	display: table-cell;
	/*padding: .5em .75em; */
	padding: 5px;
	color: rgba(51, 51, 51, 0.62);
	font-size: 1rem;
	line-height: normal;
	vertical-align: middle;
	/*    background-color: #5cb85c;*/
	cursor: pointer;
	border: 1px solid #a29f9f;
	border-radius: 2px;
	height: 30px;
	width: 70px;
	position: relative;
	top: 6px;
	left: 15px;
}

#filebox input[type="file"] {
	position: absolute;
	width: 2px;
	height: 2px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}


#optional1 {
	position: relative;
	top: -10px;
	font-size: 1.7rem;
	font-weight: 400;
	letter-spacing: 0.5px;
}

#optional2 {
	position: relative;
	top: -10px;
	letter-spacing: 0.3px;
	font-size: 1.2rem;
	font-weight: 300;
}

#showHide {
	cursor: pointer;
	font-weight: 800;
	font-size: 2rem;
	position: relative;
	top: -4px;
	right: -3px;
}


.custom-nav{
	background-color: #ED2553;

}





